## Machine Learning - Session 4 -  Data Exploration and Data Manipulation

## Part 1 - Data Exploration

In [2]:
# Set the working directory
import os
os.chdir(r"C:\Users\ASUS\Desktop\Python")

#Read the cars.csv data
import numpy as np
import pandas as pd
cars = pd.read_csv("cars.csv")

#### 1. Summaries and Aggregates

In [3]:
#A. The describe() method
cars.describe()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model
count,406.000000,406.000000,406.000000,406.000000,406.000000,406.000000,406.000000
mean,23.051232,5.475369,194.779557,103.529557,2979.413793,15.519704,75.921182
std,8.401777,1.712160,104.922458,40.520659,847.004328,2.803359,3.748737
min,0.000000,3.000000,68.000000,0.000000,1613.000000,8.000000,70.000000
25%,17.000000,4.000000,105.000000,75.000000,2226.500000,13.700000,73.000000
50%,22.350000,4.000000,151.000000,93.500000,2822.500000,15.500000,76.000000
75%,29.000000,8.000000,302.000000,129.000000,3618.250000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [4]:
cars[["MPG","Weight"]].describe()

              MPG       Weight
count  406.000000   406.000000
mean    23.051232  2979.413793
std      8.401777   847.004328
min      0.000000  1613.000000
25%     17.000000  2226.500000
50%     22.350000  2822.500000
75%     29.000000  3618.250000
max     46.600000  5140.000000

In [5]:
#A. Aggregates - groupby() method
cars["Weight"].mean()

2979.4137931034484

In [6]:
cars[["Weight","Origin"]].groupby(["Origin"]).mean()

             Weight
Origin
Europe  2431.493151
Japan   2221.227848
US      3372.700787

In [7]:
cars[["Weight","Cylinders"]].groupby(["Cylinders"]).median()

           Weight
Cylinders
3          2375.0
4          2234.0
5          2950.0
6          3201.5
8          4137.5

In [8]:
cars[["Weight","Origin"]].groupby(["Origin"]).describe()

       Weight                                                             \
        count         mean         std     min      25%     50%      75%
Origin
Europe   73.0  2431.493151  490.883617  1825.0  2065.00  2246.0  2800.00
Japan    79.0  2221.227848  320.497248  1613.0  1985.00  2155.0  2412.50
US      254.0  3372.700787  791.695866  1800.0  2721.25  3380.5  4054.75


           max
Origin
Europe  3820.0
Japan   2930.0
US      5140.0

#### 2. Tables (Crosstabs)

In [9]:
#A. Univariate Frequency distribution of a categorical variable (say, Origin)
tab = pd.crosstab(cars.Origin, columns="counts")
tab

col_0   counts
Origin
Europe      73
Japan       79
US         254

In [10]:
list(tab)

['counts']

In [11]:
type(tab)

pandas.core.frame.DataFrame

In [12]:
tab.sum()

col_0
counts    406
dtype: int64

In [13]:
#B. Univariate table of proportion
tab/tab.sum()*100

col_0      counts
Origin
Europe  17.980296
Japan   19.458128
US      62.561576

In [14]:
#B. Univariate table of proportion
round(tab/tab.sum()*100,2)

TypeError: a float is required

In [ ]:
#C. Bi-variate Frequency Distribution Table
pd.crosstab(cars.Origin,columns=cars.Cylinders)

In [ ]:
#Re-Naming the Rows and Columns
table = pd.crosstab(cars.Origin, columns=cars.Cylinders)
table.columns = ["Cyl3","Cyl4","Cyl5","Cyl6","Cyl8"]
table.index = ["EU","JP","US"]
table

In [ ]:
table = pd.crosstab(cars.Origin, columns=cars.Cylinders)
table.columns
table.index

In [ ]:
#Finding the col-sums
coltotal = table.sum(axis=0)
coltotal

In [ ]:
#Finding the row sums
rowtotal = table.sum(axis=1)
rowtotal

In [ ]:
#D. Table of joint proportion
round(table/sum(rowtotal),2)*100

In [ ]:
#OR
table/sum(coltotal)

In [ ]:
#E. Table of conditional proportion (Conditioned on rows) [P(Cyl|Origin)]
#--> Out of all the cars originated in [o], [q]% of the cars have [x] cylinders.
table.div(rowtotal, axis=0) #(Why?)

In [ ]:
#F. Table of conditional proportion (conditioned on columns) [P(Origin|Cyl)]
#--> Out of all the cars having [x] cylinders, [p]% of them originate in [Origin]
table.div(coltotal, axis=1)

#### 3. Graphs

In [ ]:
import matplotlib.pyplot as plt

#### 3A. Histograms

In [ ]:
#histogram of MPG
cars.hist(column="MPG")
plt.show()

In [ ]:
#Additional arguments: 
cars.hist(column="MPG", 
          grid=False,         #Do not include the grid
          figsize = (6,4),    #(length ,  height) of the plot in inches
         bins=10)    

plt.show()

*Documentation: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.hist.html*

In [ ]:
#Labelling the axes and giving the title
cars.hist(column="MPG", 
          grid=False,         #Do not include the grid
          figsize = (6,4))    #(length ,  height) of the plot in inches

plt.xlabel("Miles per Gallon", fontsize=12)
plt.ylabel("Number of Cars", fontsize=12)
plt.title("Histogram of MPG", fontsize=16)


plt.show()

In [ ]:
#Editing color and edgecolor
cars.hist(column="MPG", 
          grid=False,         
          figsize = (6,4),
          color = "lightgreen",
          edgecolor = "white")  

plt.xlabel("Miles per Gallon", fontsize=12)
plt.ylabel("Number of Cars", fontsize=12)
plt.title("Histogram of MPG", fontsize=16)


plt.show()

In [ ]:
#Breaking up by the categories of a categorical variable
cars.hist(column="MPG", 
          by = "Origin",           #Note this argument
          grid=False,         
          figsize = (8,6),
          color = "lightgreen",
          edgecolor = "white")  

plt.xlabel("Miles per Gallon", fontsize=12)
plt.ylabel("Number of Cars", fontsize=12)
plt.title("Histogram of MPG", fontsize=16)


plt.show()

#### 3B. Boxplots

In [ ]:
#Plotting a boxplot for the variable MPG
cars.boxplot(column="MPG")
plt.show()

In [ ]:
#Additional arguments (horizontal boxplot)
cars.boxplot(column="MPG", 
             grid=False,         
             figsize = (6,4),
             vert = False)    #To plot a horizontal boxplot

plt.show()

*Documentation: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.boxplot.html*

In [ ]:
#Labelling the boxplot
cars.boxplot(column="MPG", notch=True, #To get the notch
             grid=False,         
             figsize = (8,6),
             vert = False)    #To plot a horizontal boxplot

plt.xlabel("Miles per Gallon", fontsize=12)
plt.title("Boxplot of MPG", fontsize=14)

plt.show()

In [ ]:
#Side by Side boxplot
cars.boxplot(column="Weight", notch = True,
             by="Origin",
             grid=False,         
             figsize = (6,4))

plt.ylabel("Weight of Car", fontsize=12)
plt.title("Boxplot of Weight", fontsize=14)

plt.show()

In [ ]:
#The rotation argument
#Side by Side boxplot
cars.boxplot(column="Weight", 
             by="Origin",
             grid=False,         
             figsize = (6,4),
             rot=90)            #The angle by which you want to rotate the labels

plt.xlabel("Miles per Gallon", fontsize=12)
plt.title("Boxplot of MPG", fontsize=14)

plt.show()

#### 3C. Bar Plots

In [15]:
cars['Origin'].value_counts()

US        254
Japan      79
Europe     73
Name: Origin, dtype: int64

In [ ]:
type(cars['Origin'].value_counts())

In [ ]:
cars['Origin'].value_counts().plot(kind='bar', figsize=(4,4),
                                        color="coral", fontsize=13)

plt.show()

In [ ]:
cars.Origin.value_counts().plot(kind='barh', figsize=(4,2),
                                        color="coral", fontsize=13)

plt.show()

Study pandas.DataFrame.plot: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html

#### 3D. Scatter Plots

In [ ]:
#Scatter plot 
cars.plot(kind="scatter",           #The type of plot to be plotted
          x="Weight",y="MPG",       #The variables in x and y axis
          color="black",            #Colour of the dots
          figsize=(5,5))            #Figure size


plt.xlabel("Weight of cars", fontsize=12)
plt.ylabel("MPG of cars", fontsize=12)
plt.title("Scatter Plot", fontsize=14)

plt.show()

*Documentation: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html*

In [ ]:
#Pairwise Scatterplot
from pandas.plotting import scatter_matrix
scatter_matrix(cars.drop(["Car","Model","Origin"],axis=1), alpha=0.5, figsize=(14, 10), 
               diagonal='hist')
plt.show()

In [ ]:
#Exporting Graph

from pandas.plotting import scatter_matrix
scatter_matrix(cars.drop(["Car","Origin"],axis=1), alpha=0.75, figsize=(14, 10), diagonal='kde')
plt.savefig('scatter.png')

## Part 2 - Data Manipulation

#### 1. Sorting

In [ ]:
car

In [ ]:
#Sort the data in ascending order of MPG
cars.sort_values("MPG").head()

In [ ]:
#Sort the data in descending order of MPG
cars.sort_values("MPG", ascending=0).head()

In [ ]:
#Sort the data in descending order of Origin and then by increasing order of MPG
cars.sort_values(["Origin","MPG"], ascending=[0,1])

In [ ]:
#Saving in another data frame
cars2 = cars.sort_values(["Origin","MPG"], ascending=[0,1])
cars2

In [ ]:
#Exporting Data

#### 2. Variable Transformation

In [ ]:
# Plot a scatter plot between MPG and weight. Comment of the linearity.
plt.scatter(cars.Weight, y=cars.MPG, color="black")
plt.xlabel("Weight")
plt.ylabel("MPG")
plt.show()

In [ ]:
# Re-plot the scatter plot by taking the log transformation of both the variables. Does the linearity 
# Improve?
import numpy as np

plt.scatter(np.log(cars.Weight), y=np.log(cars.MPG), color="black")
plt.xlabel("log_Weight")
plt.ylabel("log_MPG")
plt.show()

In [ ]:
np.log(cars.MPG).describe()

In [ ]:
# But there is a problem! Check the summary of log(MPG). What do you observe?
cars.MPG.describe()

In [ ]:
np.log(cars.MPG).describe()

In [ ]:
# Can you identify where we got misleaded? Probably the answer lies in the summary of MPG.
# How can we correct this?
np.log(cars.MPG+1).describe()

In [ ]:
# Study the association between MPG and Horsepower. (Do Yourself)

#### The np.where() function

In [ ]:
import numpy as np

In [ ]:
# PROBLEM 1:
# Create a variable HP which will take only two values:
# IF Horsepower < 100 THEN "Low HP"
# IF Horsepower >= 100 THEN "High HP"

#np.where(condition, value if true, value if fase)

cars["HP"] = np.where(cars.Horsepower >= 100, "High", "Low")
cars.tail(10)

In [ ]:
#np.where(condition1, value if true, condition 2, value if true, condition 3, value if true, value if flase)

In [ ]:
#PROBLEM 2:
# Create a Variable MPG_Rate which will take on the values as follows:
# IF MPG < 15 THEN "Normal"
# IF MPG >= 15 AND MPG <=25 THEN "GOOD"
# IF MPG >= 25 AND MPG <=35 THEN "GREAT"
# IF MPG >= 35 THEN "AWESOME"

cars["MPG_Rate"] = np.where(cars.MPG<15,"Normal",cars.MPG>=15,"Good")
cars.tail(10)