In [17]:
import pandas as pd
import numpy as np
import os

In [4]:
net=pd.read_csv('netflix_titles.csv')

In [5]:
net.describe()

            show_id  release_year
count  6.234000e+03    6234.00000
mean   7.670368e+07    2013.35932
std    1.094296e+07       8.81162
min    2.477470e+05    1925.00000
25%    8.003580e+07    2013.00000
50%    8.016337e+07    2016.00000
75%    8.024489e+07    2018.00000
max    8.123573e+07    2020.00000

In [31]:
list(net)

net.shape

(6234, 12)

In [24]:
#net[["title","release_year"]].groupby(["release_year"]).count()

In [28]:
#net[["title","country"]].groupby(["country"]).count()
net.rating.head(2)

0    TV-PG
1    TV-MA
Name: rating, dtype: object

In [27]:
net[["type","director"]].groupby(["type"]).count()

         director
type
Movie        4137
TV Show       128

In [32]:
net.loc[net.rating=='TV-MA',]

(2027, 12)

In [33]:
net.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
show_id         6234 non-null int64
type            6234 non-null object
title           6234 non-null object
director        4265 non-null object
cast            5664 non-null object
country         5758 non-null object
date_added      6223 non-null object
release_year    6234 non-null int64
rating          6224 non-null object
duration        6234 non-null object
listed_in       6234 non-null object
description     6234 non-null object
dtypes: int64(2), object(10)
memory usage: 584.5+ KB

In [37]:
net.loc[net.release_year==2020,].shape

(25, 12)

In [53]:
net.loc[(net.title=='Sacred Games'),["title","release_year","country","duration","director"]]

,title,release_year,country,duration,director
6167,Sacred Games,2019,"India, United States",2 Seasons,"Vikramaditya Motwane, Anurag Kashyap"

In [64]:
net.loc[(net.director=='NaN'),["title","release_year","country","duration","director"]]

Empty DataFrame
Columns: [title, release_year, country, duration, director]
Index: []

In [68]:
net.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."

In [70]:
netflix.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
6,70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."

In [54]:
net.isnull().sum()

show_id            0
type               0
title              0
director        1969
cast             570
country          476
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
dtype: int64

In [86]:
n=net.dropna(subset=["rating","date_added"])
n.isnull().sum()

show_id            0
type               0
title              0
director        1955
cast             567
country          471
date_added         0
release_year       0
rating             0
duration           0
listed_in          0
description        0
dtype: int64

In [81]:
net.rating.min()
net.loc[(net.rating=='UR'),["title","release_year","country","duration","director","rating"]]

,title,release_year,country,duration,director,rating
332,You Don't Mess with the Zohan,2008,United States,113 min,Dennis Dugan,UR
799,Good Luck Chuck,2007,"United States, Canada",99 min,Mark Helfrich,UR
1754,Shootout at Lokhandwala,2007,India,116 min,Apoorva Lakhia,UR
2461,Immoral Tales,1974,France,103 min,Walerian Borowczyk,UR
3029,Sex Doll,2016,"United Kingdom, France",103 min,Sylvie Verheyde,UR
3441,Aquarius,2016,"Brazil, France",146 min,Kleber Mendonça Filho,UR
4436,White Girl,2016,United States,90 min,Elizabeth Wood,UR

In [79]:
net.rating.min()

inf

In [55]:
netflix=net.dropna()

In [56]:
netflix.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64