In [2]:
import pandas as pd
import os

In [4]:
os.chdir(r'C:\Users\ASUS\Desktop\Python')
os.getcwd()

'C:\\Users\\ASUS\\Desktop\\Python'

In [6]:
c=pd.read_csv('cars.csv')

In [7]:
c.shape

(406, 9)

In [12]:
c.shape[1]

9

In [13]:
list(c)

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

In [16]:
len(c.columns)

9

In [17]:
c.sample(2)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
220,Chevrolet C10,13.0,8,350.0,145,4055,12.0,76,US
390,Toyota Corolla,34.0,4,108.0,70,2245,16.9,82,Japan

In [21]:
c[["MPG","Weight"]].head(5)

    MPG  Weight
0  18.0    3504
1  15.0    3693
2  18.0    3436
3  16.0    3433
4  17.0    3449

In [23]:
c.Origin.tail(2)

404    US
405    US
Name: Origin, dtype: object

In [24]:
c.MPG.mean()

23.051231527093602

In [26]:
c.MPG.quantile(0.25)

17.0

In [27]:
c.MPG.quantile(0.75)

29.0

In [29]:
iqr=c.MPG.quantile(0.75)-c.MPG.quantile(0.25)
iqr

12.0

In [30]:
IQR(Weight)

NameError: name 'IQR' is not defined

In [31]:
c.describe()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model
count,406.000000,406.000000,406.000000,406.000000,406.000000,406.000000,406.000000
mean,23.051232,5.475369,194.779557,103.529557,2979.413793,15.519704,75.921182
std,8.401777,1.712160,104.922458,40.520659,847.004328,2.803359,3.748737
min,0.000000,3.000000,68.000000,0.000000,1613.000000,8.000000,70.000000
25%,17.000000,4.000000,105.000000,75.000000,2226.500000,13.700000,73.000000
50%,22.350000,4.000000,151.000000,93.500000,2822.500000,15.500000,76.000000
75%,29.000000,8.000000,302.000000,129.000000,3618.250000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [15]:
c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 9 columns):
Car             406 non-null object
MPG             406 non-null float64
Cylinders       406 non-null int64
Displacement    406 non-null float64
Horsepower      406 non-null int64
Weight          406 non-null int64
Acceleration    406 non-null float64
Model           406 non-null int64
Origin          406 non-null object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.6+ KB